html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Node.js with TailwindCSS, Express and Pug
        link(href="./styles/style.css", rel="stylesheet") 
    body 
        header
            nav.bg-neutral-100.border-gray-200.px-4
                .flex.flex-row.justify-between
                    div
                        a.text-gray-700.text-2xl.font-semibold(href="/") ChatOne
                    div.order-last
                        a.text-gray-700.text-md.font-semibold(href="/") Made with ❤️ by Limo
        body
            main.max-w-lg.mx-auto
                .flex.flex-row.justify-between 
                    .group.grid.place-items-center.h-40.w-40.bg-blue-400
                    .group.grid.place-items-center.h-40.w-40.bg-blue-400
                    .group.grid.place-items-center.h-40.w-40.bg-blue-400
                    
            
                
                             
                
